doc/_build*
target
.DS_Store
.project
.settings
.classpath
.idea
run.sh
*.iml
*.log
*.log.*
*.old
*.obj
*.zip
*.gz
OAR*
data/db/*
data/training
data/eval
data/embeddings
data/sequenceLabelling/CoNLL-2003/eng.*
data/sequenceLabelling/leMonde/*
data/sequenceLabelling/ontonotes/*
data/resources
data/clearNLP
data/models/ELMo/en/*.hdf5
logs
*__pycache__*
data/models/ELMo/en/cache
